﻿@model IEnumerable<Restorant>
@{
  ViewBag.Title = "Home Page";
  var page = ViewBag.PageInfo as PageInfo;
}

<b>Рестораны</b>
<br />
<table class="table">
  <tr>
    <td>ID</td>
    <td>Название</td>
    <td>Город</td>
  </tr>
  @foreach (var restorant in Model)
  {
    <tr>
      <td>@restorant.Id</td>
      <td>@restorant.Name</td>
      <td>@restorant.OwnCity.Name</td>
    </tr>
  }
</table>
<br />
@Html.Paging(page, Url)
<br />